html {
  font-size: 16px;
}

body {
  color: #666;
  background: #eee;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #333;
}

p {
  font-size: 1.2rem;
}
